{% extends "main/gamer_mother_panel.html" %}
{% load static staticfiles %}

{% block title %}
پیشخوان
{% endblock title %}

{% block content_header_text %}
<h1>پیشخوان</h1>
{{ block.super }}
{% endblock content_header_text %}


{% block main_content %}
<section class="content">
  <!-- Small boxes (Stat box) -->



  <div class="row">
    <div class="col-md-8">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">بازی‌های اخیر</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table id="table2" name="transactions-table" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th style="width: 20px">شناسه</th>
                <th style="width: 20px">نام</th>
                <th style="width: 150px">شروع</th>
                <th style="width: 20px">پایان</th>
                <th style="width: 10px">تمام شده</th>
              </tr>
            </thead>
            <tbody>
              {% for game in games %}
              <tr>
                <td>
                  <a href='{% url "main:game" pk=game.id %}'>{{game.id}}</a>
                </td>
                <td>{{game.name}}</td>
                <td>{{game.start}}</td>
                <td>{{game.end}}</td>
                <td>{{game.finished}}</td>
              </tr>
              {% endfor %}
            </tbody>
            <tfoot>
              <tr>
                <th style="width: 20px">شناسه</th>
                <th style="width: 20px">نام</th>
                <th style="width: 150px">شروع</th>
                <th style="width: 20px">پایان</th>
                <th style="width: 10px">تمام شده</th>
              </tr>
            </tfoot>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>

    <!-- /.col -->
  </div>
  <!-- /.row -->

  <!-- /.nav-tabs-custom -->





</section>
{% endblock main_content %}

{% block scripts %}
<script src='{% static "panel/plugins/jQuery/jQuery-2.1.4.min.js" %}'></script>
<!-- Bootstrap 3.3.4 -->
<script src='{% static "panel/bootstrap/js/bootstrap.min.js" %}'></script>
<!-- DataTables -->
<script src='{% static "panel/plugins/datatables/jquery.dataTables.min.js" %}'></script>
<script src='{% static "panel/plugins/datatables/dataTables.bootstrap.min.js" %}'></script>
<!-- SlimScroll -->
<script src='{% static "panel/plugins/slimScroll/jquery.slimscroll.min.js" %}'></script>
<!-- FastClick -->
<script src='{% static "panel/plugins/fastclick/fastclick.min.js" %}'></script>
<!-- AdminLTE App -->
<script src='{% static "panel/dist/js/app.min.js" %}'></script>
<!-- AdminLTE for demo purposes -->
<script src='{% static "panel/dist/js/demo.js" %}'></script>
<!-- page script -->
<script>
  $(document).ready(function () {
    // Setup - add a text input to each footer cell
    $('#table1 tfoot th').each(function () {
      var title = $(this).text();
      $(this).html('<input type="text" name = "' + title + '" placeholder="Search ' + title + '" />');
    });
    $('#table1').dataTable({
      "order": []
    });
    // DataTable
    var table = $('#table1').DataTable();

    // Apply the search
    table.columns().every(function () {
      var that = this;

      $('input', this.footer()).on('keyup change', function () {
        if (that.search() !== this.value) {
          that
            .search(this.value)
            .draw();
        }
      });
    });
  });
</script>

<script>
  $(document).ready(function () {
    // Setup - add a text input to each footer cell
    $('#table2').dataTable({
      "order": []
    });
    $('#table2 tfoot th').each(function () {
      var title = $(this).text();
      $(this).html('<input type="text" name = "' + title + '" placeholder="Search ' + title + '" />');
    });
    // DataTable
    var table = $('#table2').DataTable();

    // Apply the search
    table.columns().every(function () {
      var that = this;

      $('input', this.footer()).on('keyup change', function () {
        if (that.search() !== this.value) {
          that
            .search(this.value)
            .draw();
        }
      });
    });
  });
</script>
{% endblock scripts %}